<!DOCTYPE html>
<html lang="en" class="js-focus-visible" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Smart Factory">
    <meta name="author" content="FII - Icarus">
    <title>Smart Factory</title>
    <meta name="keywords"
          content="Clear login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <link th:href="@{/assets/css/icons/fontawesome/styles.min.css}" rel="stylesheet">
    <!--//fonts-->
    <link rel="icon" type="image/ico" th:href="@{/assets/images/logoFavicon.png}">
</head>

<body>
<div id="wrap">
    <div id="regbar">
        <div id="navthing">
            <h2><a th:href="#" id="loginform">Login</a> | <a th:href="#">Register</a></h2>
            <div class="login">
                <div class="arrow-up"></div>
                <div class="formholder">
                    <div class="randompad">
                        <fieldset>
                            <label name="email">Email</label>
                            <input type="email" value="example@example.com"/>
                            <label name="password">Password</label>
                            <input type="password"/>
                            <input type="submit" value="Login"/>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>